<div class="row">
  <div class="six columns centered">
    <%= form_tag sessions_path do %>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= submit_tag 'Log in' %>
      <%= link_to 'Forgot password?', new_reset_password_path %>
    <% end %>
  </div>
</div>
