<div class="row">
  <div class="six columns centered">
    <%= form_for @local_government_area do |f| %>
      <%= f.error_messages %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <hr>
      <%= f.submit 'Create LGA' %>
    <% end %>
  </div>
</div>
