<div class="row">
  <div class="six columns centered">
    <%= form_for @local_government_area do |f| %>
      <%= f.error_messages %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :lpi_alias %>
      <%= f.text_field :lpi_alias, :placeholder => 'LGA name as it appears in the LPI file' %>
      <%= f.label :filename_alias %>
      <%= f.text_field :filename_alias, :placeholder => 'LGA name as it appears in the filename of the LGA csv file' %>
      <%= f.label :lga_alias %>
      <%= f.text_field :lga_alias, :placeholder => 'LGA name as it appears in the LGA csv file' %>
      
      <hr>
      <%= f.submit 'Create LGA' %>
    <% end %>
  </div>
</div>
