<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hi <%= @user.name %>,
    </p>
    <p>
      Unfortunately, your import has failed.
    </p>
    <p>
      Filename: <%= @importer.filename %>
    </p>
    <p>
      Records: <%= @exception.record_count %>
    </p>
    <p>
      <% @exception.headers[:column_errors].each do |k, v| %>
        - <%= v[:message].html_safe %><br />
      <% end %>
    </p>
    <p>
      Cheers,
      <br />
      The ePlanning Team
      <br />
      <%= @host_name %>
    </p>
  </body>
</html>
