<div class="row">
  <div class="six columns">
    <h3>Council File Statistics</h3>
    <%=
      @council_file_statistics.nil? ? 'Not available' :
        render(
          :object => @council_file_statistics,
          :partial => 'stats_tables/council_file_statistics'
        )
    %>
  </div>

  <div class="six columns">
    <h3>Land Parcel Statistics</h3>
    <%=
      @land_parcel_statistics.nil? ? 'Not available' :
        render(
          :object => @land_parcel_statistics,
          :partial => 'stats_tables/land_parcel_statistics'
        )
    %>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h3>LPI Comparison</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>DP</th>
          <th>Parent SP</th>
          <th>Child SP</th>
          <th>Total</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>In Both</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Only In Council</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Only In LPI</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>In Retired LPI</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <h3>Invalid Records</h3>
    <%=
      @invalid_records.nil? ? 'Not available' :
        render(
          :object => @invalid_records,
          :partial => 'stats_tables/invalid_records'
        )
    %>
  </div>
  <div class="six columns">
    <h3>More Information</h3>
    <p>
      LPI Data: <%= LandAndPropertyInformationImportLog.most_recent_import_date || 'No LPI data available' %>
    </p>
    <p>
      Council Data: <%= @local_government_area.most_recent_import_date || 'No imports yet' %>
    </p>
  </div>
</div>

