<table>
  <tbody>
    <tr>
      <td>Total Records in File</td>
      <td><%= data_summary.council_file_statistics.total %></td>
    </tr>
    <tr>
      <td>In Council and LPI</td>
      <td><%= data_summary.lpi_comparison.in_both_total %></td>
    </tr>
    <tr>
      <td>Only In Council</td>
      <td><%= data_summary.lpi_comparison.only_in_council_total %></td>
    </tr>
    <tr>
      <td>Only in LPI</td>
      <td><%= data_summary.lpi_comparison.only_in_lpi_total %></td>
    </tr>
    <tr>
      <td>Invalid Records</td>
      <td><%= data_summary.invalid_record_count %></td>
    </tr>
  </tbody>
</table>
