<table>
  <tbody>
    <tr>
      <td>Malformed</td>
      <td><%= invalid_records.malformed %></td>
    </tr>
    <tr>
      <td>Invalid Title Reference</td>
      <td><%= invalid_records.invalid_title_reference %></td>
    </tr>
    <tr>
      <td>Duplicate Title Reference</td>
      <td><%= invalid_records.duplicate_title_reference %></td>
    </tr>
    <tr>
      <td>Invalid Address</td>
      <td><%= invalid_records.invalid_address %></td>
    </tr>
    <tr>
      <td>Missing SI Zone</td>
      <td><%= invalid_records.missing_si_zone %></td>
    </tr>
    <tr>
      <td>Inconsistent Attributes</td>
      <td><%= invalid_records.inconsistent_attributes %></td>
    </tr>
    <tr>
      <td>Total</td>
      <td><%= invalid_records.total %></td>
    </tr>
  </tbody>
</table>
