<table>
  <thead>
    <tr>
      <th></th>
      <th>Unique DP</th>
      <th>Unique Parent SP</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Council</td>
      <td><%= land_parcel_statistics.council_unique_dp %></td>
      <td><%= land_parcel_statistics.council_unique_parent_sp %></td>
      <td><%= land_parcel_statistics.council_total %></td>
    </tr>
    <tr>
      <td>LPI</td>
      <td><%= land_parcel_statistics.lpi_unique_dp %></td>
      <td><%= land_parcel_statistics.lpi_unique_parent_sp %></td>
      <td><%= land_parcel_statistics.lpi_total %></td>
    </tr>
  </tbody>
</table>
