<nav class="top-nav">
  <div class="row top-bar">
    <div class="brand eight columns">
      <div class="row">
        <%= link_to root_path do %>
          <h1>EHC <span>DVT</span></h1>
        <% end %>
      </div>
    </div>
    <div class="four columns">
      <ul class="nav-bar right">
        <% if current_user %>
        <li class="has-flyout right">
          <%= link_to current_user.name, edit_profile_path %>
          <a href="#" class="flyout-toggle"><span> </span></a>
          <ul class="flyout right">
            <% if current_user.has_multiple_lgas? %>
            <li><%= link_to 'Councils', local_government_areas_path,
                    :title => 'Local government areas' %></li>
            <% end %>
            <% if current_user.admin? %>
              <li><%= link_to 'Users', users_path %></li>
            <% end %>
            <li><hr></li>
            <li><%= link_to 'Profile', edit_profile_path %></li>
            <li><%= link_to 'Log out', logout_path %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
