<!DOCTYPE html>
<html>
<head>
  <title>Dvt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <div class="row top-bar">
    <div id="site-name" class="left">DOPI DVT</div>
  </div>

  <ul class="row nav-bar">
    <% if current_user %>
    <li class="has-flyout">
      <%= link_to 'Users', users_path %>
      <a href="#" class="flyout-toggle"><span> </span></a>
      <ul class="flyout">
        <li><%= link_to 'Admin Users', admin_users_path %></a></li>
      </ul>
    </li>
    <li><%= link_to 'LGAs', local_government_areas_path,
            :title => 'Local government areas' %></li>
    <li><%= link_to 'Log out', logout_path %></li>
    <% else %>
    <li><%= link_to 'Log in', login_path %></li>
    <% end %>
  </ul>

  <header id="header" class="row">
    <h1><%= title %></h1>
    <%= render 'subnav' %>
  </header>

  <%= render_flash(flash) %>

  <section id="main" role="main">
    <%= yield %>
  </section>

</body>
</html>
